<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ember-rails example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssgrids/grids-min.css">

    <%= javascript_include_tag :application %>
    
    <style>
      body {
          margin: auto; /* center in viewport */
          width: 960px;
      }
    </style>
  </head>
  <body>

   <div id="container" class="yui3-g">
      <div class="yui3-u-1-6 " id="nav" style="background-color: lightcyan">
        nav
      </div>
      <div class="yui3-u-2-3 " style="background-color: lightgrey">
        <div id="content">
          content
        </div>
      </div>
    </div>


  </body>
</html>


